@{
    Page.Title = "Disciplina";
    Layout = "~/View/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-12">
       
        <div class="row">
            <div class="col-3" style="padding-top:30px;">
                
               
                    <a href="#">
                        <img src="~/Img/disciplina.png" width="80" height="80" alt="">
                    </a>
               
            </div>
           

            <div class="col-9" style="padding-top:30px;">
                <div class="row">
                    <div style="margin-right:20px" class="col-1">
                        <a class="btn btn-primary" href="~/View/Disciplina/CadDisciplina.cshtml" role="button">Novo</a>
                    </div>
                    <div class="col-1">
                        <a class="btn btn-primary" href="~/View/Disciplina/DisciplinasCadastradas.cshtml" role="button">Disciplinas cadastradas</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>





