<div class="row" style="background-color:#007fff; padding-bottom:5px; padding-top:20px; ">
    <div class="col-12">
        <center>
            <p> Desenvolvido por <strong>Ariel, Edson e Wagner</strong></p>
        </center>
    </div>
</div>
    




