
    
        <center>
            <div style="background-color:#007FFF">
                <p> Desenvolvido por <strong>Ariel, Edson e Wagner</strong></p>
            </div>
            
        </center>
    





