@{
    Page.Title = "Cadastro de Alunos";
    Layout = "~/View/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-12">

        <div class="row">
            <div class="col-3" style="padding-top:30px;">
                <div class="row">
                    <div class="col-4">
                        <a href="~/View/Aluno/IndexAluno.cshtml">
                            <img src="~/Img/aluno.png" width="80" height="80" alt="">
                        </a>
                    </div>
                    <div class="col-4" style="margin-left:10px;">
                        <a href="~/View/Professor/IndexProfessor2.cshtml">
                            <img src="~/Img/professor.png" width="80" height="80" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-9" style="padding-top:30px;">
                <div class="row">
                    <div style="margin-right:20px" class="col-1">
                        <a class="btn btn-primary" href="~/View/Aluno/CadAluno.cshtml" role="button">Novo</a>
                    </div>
                    <div class="col-1">
                        <a class="btn btn-primary" href="~/View/Aluno/AlunosCadastrados.cshtml" role="button">Alunos cadastrados</a>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>
