@{
    Page.Title = "Cadastro de Alunos";
    Layout = "~/View/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-12">
       
        <div class="row">
            <div class="col-3" style="padding-top:30px;">
                <div class="row">
                    <div class="col-4">
                        <a href="~/View/Aluno/IndexAluno.cshtml">
                            <img src="~/Img/aluno.png" width="80" height="80" alt="">
                        </a>
                    </div>
                    <div class="col-4" style="margin-left:10px;">
                        <a href="~/View/Professor/IndexProfessor2.cshtml">
                            <img src="~/Img/professor.png" width="80" height="80" alt="">
                        </a>
                    </div>                   
                </div>        
            </div>
           

            <div class="col-9" style="padding-top:30px;">
               @*aqui pode ter codigo*@
            </div>
        </div>


    </div>
</div>





