@{
    Page.Title = "Principal";
    Layout = "~/View/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:20px;  ">
    <div class="col-12">
        <center>
            <img src="~/Img/imagemIndex.jpg" style="width:350px; height:350px;" alt="imagem do index">
        </center>
    </div>
</div>



   
       
