<html>
<body>
    <div class="row" style="height:100px; background-color:#007FFF; padding-top:10px;">
        <div class="col-2" >
            Bem vindo ao SISPO!           
            <div class="row">
                <div class="col-1">         
                    <a class="btn-sm btn-danger" href="#" role="button">Sair</a>                 
                </div>

            </div>
        </div>
        <div class="col-2">
            <a href="~/View/Home/IndexHome.cshtml">
                <img src="~/Img/home.png" width="80" height="80" alt="">
            </a>
        </div>
        <div class="col-2">
            <a href="~/View/Presenca/IndexPresenca.cshtml">
                <img src="~/Img/presenca.png" width="80" height="80" alt="">
            </a>
        </div>

        <div class="col-2" >
            <a href="~/View/Pessoa/IndexPessoa.cshtml">
                <img src="~/Img/pessoas.png" width="80" height="80" alt="">
            </a>

        </div>      

        <div class="col-2">
            <a href="~/View/Curso/IndexCurso.cshtml">
                <img src="~/Img/curso.png" width="80" height="80" alt="">
            </a>
        </div>

        <div class="col-2">
            <a href="~/View/Disciplina/IndexDisciplina.cshtml">
                <img src="~/Img/disciplina.png" width="80" height="80" alt="">
            </a>
        </div>

    </div>   
</body>



</html>