@{
    Page.Title = "Discplina";
    Layout = "~/View/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h1>Presença</h1>
    </div>
</div>


    <div class="row">
        <div class="col-12">
            <a class="btn btn-primary" href="~/View/Aluno/CadAluno.cshtml" role="button">Novo aluno</a>
        </div>  
        <div class="col-12">
            
        </div>  
        
        <div class="col-12">            
            <a class="btn btn-primary" href="~/View/Aluno/AlunosCadastrados.cshtml" role="button">Alunos Cadastrados</a>            
        </div>
    </div>
