@{
    Page.Title = "Cadastro de Cursos";
    Layout = "~/View/Shared/_Layout.cshtml";

    if (IsPost)
    {
        Curso objCurso = new Curso();
        objCurso.Descricao = Request.Form["txtNomeCurso"];
        objCurso.DataInicio = Convert.ToDateTime( Request.Form["dataFim"]);
        objCurso.DataFim = Convert.ToDateTime( Request.Form["dataInicio"]);
        objCurso.ValorMensal = Convert.ToDouble( Request.Form["txtValorMensal"]);

        bool sucesso = new CursoBO().Gravar(objCurso);

        if (sucesso)
        {
            Page.msgSucesso = "Curso salvo com sucesso";
        }
        else
        {
            Page.msgErro = "Erro ao gravar o Curso";
        }
    }
    <div class="col-12">
        @if (Page.msgSucesso != null)
        {
            <div class="alert alert-success" role="alert">
                @Page.msgSucesso
            </div>
        }

        @if (Page.msgErro != null)
        {
            <div class="alert alert-danger" role="alert">
                @Page.msgErro
            </div>
        }
    </div>

}



<div class="container">
    <div class="col-12">

        <div class="row">
            <div class="col-3" style="padding-top:30px;">

                <a href="~/View/Curso/IndexCurso2.cshtml">
                    <img src="~/Img/curso.png" width="80" height="80" alt="">
                </a>

            </div>


            <div class="col-9" style="padding-top:30px;">
                <div class="row">
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <h1>Cadastro de Cursos</h1>
                    </div>
                </div>
                <form method="post" action="">
                    <div class="row">
                        <div class="col-6">
                            <label>Nome:</label>
                            <input type="text" name="txtNomeCurso" id="txtNomeCurso" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label>Valor Mensal:</label>
                            <input type="text" name="txtValorMensal" id="txtValorMensal" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Data De Inicio</label>
                            <input type="date" name="dataInicio" id="dataInicio" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label>E-mail:</label>
                            <input type="date" name="dataFim" id="dataFim" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div style="margin-right:20px" class="col-1">
                            <input type="submit" name="btnGravar" value="Gravar" class="btn btn-success"/>
                        </div>    
                        <div class="col-1">
                            <a class="btn btn-primary" href="IndexCurso2.cshtml" role="button">Voltar</a>
                        </div>
                    </div>
                

                </form>
            </div>
        </div>

        <br />

        <!-- Tabela para cadastras as disciplinas curso -->
        <div class="row">
            
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                       <tr>
                           <th>  ID  </th>
                           <th>  Descricao </th>
                           <th>  Ações  </th>

                       </tr>


                    </thead>                                                      

                    <tbody>



                    </tbody>



                </table>
                                                          
                
            </div>




        </div>
    
    
    </div>
</div>











