
@{
    @Page.Title = "SISPO";
}


<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
       
    </head>
    <body>
        
    <div class="row">
        
        <h1>  Bem vindo ao <strong>  SISPO  </strong>  </h1>

    </div>
    

    </body>
</html>
