<html>
<body>
    
        <div class="col-12" style="position:fixed; bottom:0; text-align:center">
            <p > Desenvolvido por <strong>Ariel, Edson e Wagner</strong></p>
        </div>
   
</body>



</html>